vendor/
resources/ext.notifyme.bootstrap.js
resources/ext.notifyme.mailTemplate.js
resources/ext.notifyme.mailTemplateHelp.js
resources/ext.notifyme.megamenu.js
resources/ext.notifyme.specialPage.js
resources/ext.notifyme.subscription-preferences.js
resources/ui/dialog/SubscriptionSetEditor.js
resources/ui/panel/IndividualSubscriptions.js
resources/ui/panel/NotificationCenter.js
resources/ui/panel/NotificationTab.js
resources/ui/panel/SubscriptionManager.js
resources/ui/preferences/ChannelPreferences.js
resources/ui/preferences/EmailChannelPreferences.js
resources/ui/subscriptionSet/Category.js
resources/ui/subscriptionSet/Namespace.js
resources/ui/subscriptionSet/SubscriptionSet.js
resources/ui/subscriptionSet/Watchlist.js
resources/ui/subscriptionSet/editor/CategorySetEditor.js
resources/ui/subscriptionSet/editor/NamespaceSetEditor.js
resources/ui/subscriptionSet/editor/SubscriptionSetEditor.js
resources/ui/widget/DatedNotificationsWidget.js
resources/ui/widget/Filter/FilterWidget.js
resources/ui/widget/HelpMenuWidget.js
resources/ui/widget/MailEditingHelp.js
resources/ui/widget/NotificationGroupWidget.js
resources/ui/widget/NotificationItemWidget.js
resources/ui/widget/PaginationWidget.js
resources/ui/widget/ToggleReadCircleButtonWidget.js

resources/styles.less
