<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
	<!--[if gte mso 9]>
	<xml>
		<o:OfficeDocumentSettings>
			<o:AllowPNG/>
			<o:PixelsPerInch>96</o:PixelsPerInch>
		</o:OfficeDocumentSettings>
	</xml>
	<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="x-apple-disable-message-reformatting">
	<!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=edge"><!--<![endif]-->
	<title></title>
</head>

<body class="clean-body u_body" style="margin: 0;padding: 0;-webkit-text-size-adjust: 100%;background-color: @notifications-mail-color-background;font-family: Arial, sans-serif;">
<div style="margin-top: 30px; padding: 40px; width: 600px; margin-left: auto; margin-right: auto; color: @notifications-mail-color-text; background-color: @notifications-mail-color-primary-bg; border-radius: 10px">
	<img src="{{logo}}" alt="Wiki logo"/>
	<div style="margin-top: 20px">
		{{{content}}}
	</div>

</div>

</body>

</html>
