.ext-notifyme-config-panel {
	margin-top: 20px;
}

.ext-notifyme-subscription-section {
	&:not( :first-child ) {
		border-top: 1px solid #a2a9b1;
		padding-top: 12px;
		margin-top: 12px;
	}

	.ext-notifyme-subscription-set-label {
		margin-bottom: 12px;
	}

	.ext-notifyme-subscription-event-layout {
		.oo-ui-fieldLayout-field {
			width: 23px !important;
		}
	}
}
